* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
}
.banner-wrapper {
    background: url(../images/bg-home.jpg) no-repeat;
    height: 1500px;
}
.banner-wrapper header {
    width: 100%;
    background: rgba(000, 000, 000, 0.5);
}
.banner-wrapper .header-wrapper {
    width: 64%;
    margin: 0 auto;
    overflow: hidden;
}
.banner-wrapper .logo-wrapper {
    height: 100%;
    float: left;
}
.banner-wrapper .logo-wrapper img {
    height: 100%;
}
.banner-wrapper .menu-wrapper {
    height: 100%;
    float: right;
}
.banner-wrapper nav ul {
    list-style: none;
    padding: 0;
    color: #f1f1f1;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
}
.banner-wrapper .menu-wrapper nav ul li {
    float: left;
    text-transform: uppercase;
    padding: 20px 15px;
    margin: 0;
}
.banner-wrapper .menu-wrapper nav ul li.selected {
    background-color: #000;
    color: #c6b7b7;
}
.banner-wrapper section {
    position: relative;
    width: 63%;
    margin: 0 auto;
}
.satellite-image-wrapper {
    position: absolute;
    width: 100%;
    top: 45px;
    display: table;
}
.satellite-image-wrapper img {
    width: 75%;
    height: 100%;
}
.satellite-image-wrapper img,
.satellite-image-wrapper div {
    display: table-cell;
    vertical-align: middle;
}
.satellite-image-wrapper div h1 {
    margin: 0;
    color: #fff;
}
.satellite-image-wrapper div a {
    text-decoration: none;
    background: blue;
    color: #fff;
    padding: 15px;
}
